*Veto-Principia/.vs
*/Binaries
*/Build
*Veto-Principia/Content/StarterContent/
*/Intermediate
*/Saved
*/ToBeDiscontinued

*/DerivedDataCache

*/*Veto-Principia.png
*/*_BuiltData.uasset
*/*Veto-Principia.VC.db
*.log
*.sln
